#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.g {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100dvh;
  z-index: -1;
  background-size: 100% 100%;
  background-image: radial-gradient(
    ellipse farthest-corner at 100% 29%,
    hsla(320, 100%, 50%, 0.5) 0%,
    hsla(273, 100%, 50%, 0.5) 33.33%,
    hsla(215, 100%, 50%, 0.5) 66.67%,
    hsla(194, 100%, 50%, 0.5) 100%
  );
}
